<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
\

<h1 align="center">Danh sách Pokemon</h1>

<div class="table" text-align:center>

<table border="1px" >
    <tr align="center">
        <th align="center">STT</th>
        <th align="center">Tên</th>
        <th align="center">Loài</th>
        <th align="center">Hệ</th>
        <th align="center">Điểm Yếu</th>
        <th align="center">Đặc Điểm</th>     
        <th align="center">Ảnh</th>
        <th align="center"></th >
    </tr>

{% for pokemon in pokemons %}
    <tr align="center">    

        <td>{{ loop.index }}</td>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.categ }}</td>
        <td>{{ pokemon.typeP }}</td>
        <td>{{ pokemon.weaknesses }}</td>
        <td>{{ pokemon.abilities }}</td>

        <td>
            <img src="/static/{{pokemon.id}}.jpg" style="max-height: 80px;" alt="">
        </td>
        <td>
            <a href="/update_pokemon/{{pokemon.id}}">
                <button type="button" class="btn btn-primary">Sửa</button>      
            </a>
            <a href="/del_pokemon/{{pokemon.id}}">
                <button type="button" class="btn btn-secondary">Xóa</button>
            </a>
        </td>
    </tr>
{% endfor %}
</table>

    <a href="/create_pokemon">
        <button type="button" class="btn btn-danger">Thêm Mới Pokemon</button>
    </a>
</div>