<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>Thêm mới Pokemon</h1>


<div class="table">
<form method="POST" enctype="multipart/form-data">
    Tên Pokemon: 
    
    
    <input name = 'name' value="{{p.name}}">
    <br>
    Loại Pokemon: <input name= 'categ' value="{{p.categ}}">
    <br>
    Hệ Pokemon: <input name= 'typeP' value="{{p.typeP}}">
    <br>
    Điểm Yếu Pokemon: <input name= 'weaknesses' value="{{p.weaknesses}}">
    <br>
    Đặc Điểm Pokemon: <input name= 'abilities' value="{{p.abilities}}">
    <br>

    Ảnh Pokemon: <input name="img" type="file"> <br>

    <input type="submit" class="btn btn-primary" value="Lưu Lại">
</form>
</div>
